@model InventoryManagement.Models.Brand

@{
    string currentModel = Helper.GetTypeName(Model.GetType().ToString());
    ViewData["Title"] = currentModel+ "Details";
}

<h4>@currentModel- Details</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BrandId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index"class="btn btn-primary">Back to List</a>
</div>
