@model IEnumerable<InventoryManagement.Models.ProductGroup>

@{
    ViewData["Title"] = "Index";
    PagerModel pager = ViewBag.Pager;

}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
<div class="container-fluid btn-group">
    <div class="col-10">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-2 justify-content-end">
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    </div>
</div>
pager




<div class="row">
    <div class="col-12">
        <partial name="_topBar" model="@pager" />
    </div>
</div>
<table class="table">
    <thead style="background-color:aquamarine">
        <tr>
            <th>
                <i class="@ViewData["SortIconName"]" arial-hidden=true></i>
                <a asp-action="Index" asp-route-sortExpression="@ViewData["SortParamName"]">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <i class="@ViewData["SortIconDesc"]" arial-hidden=true></i>
                <a asp-action="Index" asp-route-sortExpression="@ViewData["SortParamDesc"]">
                    @Html.DisplayNameFor(model => model.Description)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductGroupId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductGroupId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductGroupId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Customers</h4>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Description</th>
           
        </tr>
        @foreach (ProductGroup productGroup in Model)
        {
            <tr>
                <td>@productGroup.Name</td>
                <td>@productGroup.Description</td>
                
            </tr>
        }
    </table>
</body>
</html>*@
@section Scripts{
    <script type="text/javascript">
    function openSuccessModal(strMessage) {
        var myDiv = document.getElementById("MyModalSuccessAlertBody");
        myDiv.innerHTML = strMessage;
        $("#myModalSuccess").modal('show');
    }
    $(document).ready
        (function () {
            var msg ="@TempData["SuccessMessage"]";
            if(msg){
                openSuccessModal(msg);
            }
        })
    </script>
}